<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style></style>
</head>

<body>
    <p>Hello {{name}}, To reset the password for your {{email}} Account, please click on the link below:</p>
    <br> <br>
    <a href="{{link}}" target="_blank">{{link}}</a>
    <br> <br>
    <p>Kindly,</p>
    <p>The E-commerce Team</p>
</body>

</html>