<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style></style>
</head>

<body>
    {{!-- <img src="https://www.skubana.com/hubfs/Skubana/Blog%20Pages/Imported_Blog_Media/ecommerce%20tools.jpg"
        class="img"> --}}
    <h3> Welcome {{ name }}.</h3>
    <span> You have Been Register at our website with email address : {{ email }}. </span>
</body>

</html>